# SQL

In [2]:
import sqlite3 #Inbuilt

In [4]:
# Connect to a SQLite database
connect =  sqlite3.connect('example.db')
connect

In [12]:
# Create a cursor
cursor = connect.cursor()

# Create a table

cursor.execute('''
Create Table If not Exists employee(
               id Integer Primary key,
               name Text Not Null,
               age Integer,
               deapartment text
               )
''')

# Commit the changes
connect.commit()

# Inserting values in sqlite table

cursor.execute('''
    INSERT INTO employee(name,age,deapartment)
               values('Suraj', 23, 'Data Scientist')
''')

cursor.execute('''
    INSERT INTO employee(name,age,deapartment)
               values('Satyam', 20, 'Data Analyst')
''')

cursor.execute('''
    INSERT INTO employee(name,age,deapartment)
               values('Subham', 24, 'Scientist')
''')

connect.commit()

In [22]:
# Query the data from sqllite table

cursor.execute('''Select * from employee''')
rows = cursor.fetchall()
import pandas as pd
df = pd.DataFrame(rows)

In [ ]:
# To update any value in the table
cursor.execute('''
UPDATE employee
            Set age = 27
            where name = 'Suraj'   
''')
connect.commit()
df

ProgrammingError: Cannot operate on a closed database.

In [ ]:
# Delete from the table
cursor.execute('''
DELETE FROM employee
               name = 'Suraj'
''')
connect.commit()

In [33]:
# Insert data in bulk
new_emp = [
    ('Rohan', 23, 'ML engineer'),
    ('Tushar', 56, 'Sales dept.'),
    ('Sangeeta', 47, 'HR')
]

# Here we will use executemany function
cursor.executemany('''
    INSERT INTO employee(name,age,deapartment)
               values(?, ?,  ?)
''', new_emp)

connect.commit()

In [ ]:
cursor.execute('''Select * from employee''')
rows = cursor.fetchall()
import pandas as pd
df = pd.DataFrame(rows)
df

In [35]:
# To close the db connection

connect.close()